@model IEnumerable<Missionary.Models.Mission>

@{
    ViewBag.Title = "Mission";
}

<div>
    <div class="johnnymargin">
        <div class="container" style="margin-left: 0px;">
            <h3>Mission Database:</h3>
            <script>
                function myFunction() {
                    document.getElementById("myDropdown").classList.toggle("show");
                }
                window.onclick = function (event) {
                    if (!event.target.matches('.dropbtn')) {
                        var dropdowns = document.getElementsByClassName("dropdown-content");
                        var i;
                        for (i = 0; i < dropdowns.length; i++) {
                            var openDropdown = dropdowns[i];
                            if (openDropdown.classList.contains('show')) {
                                openDropdown.classList.remove('show');
                            }
                        }
                    }
                }
            </script>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Select a mission</button>
                <div id="myDropdown" class="dropdown-content">
                    @foreach (var item in Model)
                    {
                        <a href=@Url.Action("MissionInfo", "Home", new { value = item.MissionID })>@item.MissionName Mission</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>